/*  your css code here. If applicable */
.container{
	width:420px;
	height:180px;
	background-color:gray;
	border:5px solid black;
	border-radius: 50px;
	justify-content: center;
	text-align: center;
	display: flex;
}

.green{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: green;
	margin-top:30px;
}

.yellow{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: yellow;
	margin-top:30px;
}

.red{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: red;
	margin-top:30px;
}
